extends ../layout.pug

block content
	.container
		h1.mb-Lg The Lissner Cookbook
			if user && user.isAdmin
				button.btn.btn-primary.f-R(data-toggle='modal', data-target='#AddRecipie') Add Recipie

		if user && user.isAdmin
			+modal('AddRecipie')
				+RecipieForm('add')
		.hidden-xs.col-sm-2
			h2 Filter
			#CookbookFilter(data-function='filter')
				- var types = [];
				h3 Type
				div(data-filter-section='dish')
					for recipe, i in recipes
						for type in recipe.dishType ? recipe.dishType : []
							if types.indexOf(type) === -1
								.checkbox
									label
										input(type='checkbox', value= type)
										= type
								- types.push(type)

				- var ethnicities = [];
				h3 Ethnicity
				div(data-filter-section='ethnicity')
					for recipe, i in recipes
						for type in recipe.ethnicity ? recipe.ethnicity : []
							if ethnicities.indexOf(type) === -1
								.checkbox
									label
										input(type='checkbox', value= type)
										= type
								- ethnicities.push(type)

				- var difficulties = ['Easy', 'Medium', 'Hard', 'Advanced'];
				h3 Difficulty
				div(data-filter-section='difficulty')
					for difficulty in difficulties
						.checkbox
							label
								input(type='checkbox', value= difficulty)
								= difficulty

		#CookbookFoods.col-xs-12.col-sm-10
			for recipe, i in recipes
				.row.mtb-Sm(data-filter-dish= recipe.dishType && recipe.dishType.join('|'), data-filter-ethnicity= recipe.ethnicity && recipe.ethnicity.join('|'), data-filter-difficulty= recipe.difficulty || 'Unknown')
					.col-xs-12.col-sm-5.col-md-3
						img.w-100(src= getImagePath(recipe.image, 'medium'), alt= recipe.name)
					.col-xs-12.col-sm-7.col-md-9
						h2.mt-0= recipe.name
							small= ` ${recipe.author}`
						ul.fc-G__dk.fs-Sm.list-inline
							if recipe.isGlutenFree
								li.pr-0 Gluten Free |
							if recipe.isVegitarian
								li.pr-0 Vegitarian |
							if recipe.isDairyFree
								li.pr-0 Dairy Free |
							li(data-icon='fa fa-clock-o')= ` ${recipe.time}`
							if recipe.serves
								li.pl-0= `| Serves ${recipe.serves}`
						if recipe.description && wysiwygHasData(recipe.description)
							div!= recipe.description

						a(href=`/${recipe.url}`) Full Recipe
	script(src='/js/pages/cookbook.min.js')