extends ..\layout.pug

block content
	if user && user.isAdmin
		//+modal(recipe.url)(class='modal-lg')
			+RecipieForm('update', recipe)
	.container
		h1
			input(duck-field='name', placeholder='Recipe Name')
			small.ml-Sm
				input(duck-field='author', placeholder='Author')

		.row.mt-Lg
			.col-xs-12.col-sm-5.col-md-3
				div.br-Md.bg-G__ltr.p-Xl
					label Picture for Recipe
						input(duck-field='image', placeholder='http://placebear.com/400/600')
				.content-card
					h2.content-card--header Ingredients
					ul.p-0.ls-N(duck-field='ingredientSections', duck-type='array')
						li(duck-type='object')
							h3.form-group(duck-field='title', )
								label Ingredient Section Title (optional)
									input.form-control(duck-value, placeholder='Sauce, Frosting, etc.')
							
							h4 Section Ingredients
							ul.p-0.ls-N(duck-field='ingredients', duck-type='array')
								li.form-group(duck-type='string')
									input.form-control(duck-value, placeholder='1/4 cup suger')
								li.ls-N(duck-button='add'): button.btn-primary Add Ingredient

				
			.col-xs-12.col-sm-7.col-md-9
				label Description
				div(duck-field='description')
					.summernote

				.alert.alert-info.d-Ib
					label Note
					div(duck-field='note')
						.summernote

				.content-card
					h2.content-card--header Directions
					ul.fc-G__dk.fs-Sm.list-inline.fs-Lg
						li.pr-0.checkbox
							label
								input(type='checkbox', duck-field='isGlutenFree')
								| Gluten Free |
						li.pr-0.checkbox
							label
								input(type='checkbox', duck-field='isVegetarian')
								| Vegitarian |
						li.pr-0.checkbox
							label
								input(type='checkbox', duck-field='isDairyFree')
								| Dairy Free |
						li(data-icon='fa fa-clock-o')
							input(duck-field='time', placeholder='How long does this recipe take?')

						li.pl-0
							label Serves
								input(duck-field='serves', placeholder='4-6 people')
					h2 Direction Sections
					ul.p-0.ls-N(duck-field='directions', duck-type='array')
						li.bw-Sm.bc-G__Dk.bs-S.p-Md(duck-type='object')
							.form-group(duck-field='title')
								label Title (optional)
									input.form-control(duck-value, placeholder='Sauce, Frosting, etc.')
							h3 Directions
							ol.mb-Sm(duck-field='steps', duck-type='array')
								li.form-group(duck-type='string'): input.form-control(duck-value, placeholder='Set oven to 350')
								li.form-group(duck-type='string'): input.form-control(duck-value, placeholder='Sautee onions with mushrooms')
								li.ls-N(duck-button='add'): button.btn-primary Add Step

			//.col-xs-12
				h2 Other Recipes
				.masonry.masonry-grid-1.masonry-grid-2--sm.masonry-grid-3--md
					for otherRecipe in recipes.filter((i) => i.Id !== recipe.Id)
						.masonry--item(data-toggle='modal', data-target= `#${otherRecipe.url}`)
							+card(otherRecipe.image, otherRecipe.name)

	//for otherRecipe in recipes.filter((i) => i.Id !== recipe.Id)
		+modal(otherRecipe.url)(class='modal-lg')
			h2= otherRecipe.name
			img.img-responsive.f-L(src=otherRecipe.image, alt= otherRecipe.name)
			.lead!= otherRecipe.description
			a(href=`/${otherRecipe.url}`) Full Recipie