extends ..\layout.pug

block content
	if user && user.isAdmin
		//+modal(recipe.url)(class='modal-lg')
			+RecipieForm('update', recipe)
	.container
		h1= recipe.name
			|&nbsp;
			small= recipe.author
			if user && user.isAdmin
				button.btn.btn-primary.f-R(duck-button='edit-mode') Edit
		.row.mt-Lg
			.col-xs-12.col-sm-5.col-md-3
				img.w-100.br-Md(src= recipe.image || 'http://maverickradio.com/wp-content/themes/fearless/images/missing-image-232x150.png', alt= recipe.name)
				if recipe.ingredientSections
					.content-card
						h2.content-card--header Ingredients
						for section in recipe.ingredientSections
							if section.title
								h3= section.title
							if section.ingredients
								ul
									for ingredient in section.ingredients
										li= ingredient
				
			.col-xs-12.col-sm-7.col-md-9
				if recipe.description && wysiwygHasData(recipe.description)
					.lead!= recipe.description

				if recipe.note && wysiwygHasData(recipe.note)
					.alert.alert-info.d-Ib
						h3.mt-0 Note!
						div!= recipe.note

				.content-card
					h2.content-card--header Directions
					ul.fc-G__dk.fs-Sm.list-inline
						if recipe.isGlutenFree
							li.pr-0 Gluten Free |
						if recipe.isVegitarian
							li.pr-0 Vegitarian |
						if recipe.isDairyFree
							li.pr-0 Dairy Free |
						li(data-icon='fa fa-clock-o')= ` ${recipe.time}`
						if recipe.serves
							li.pl-0= `| Serves ${recipe.serves}`
					ul.p-0.ls-N
						for direction, i in recipe.directions ? recipe.directions : []
							li
								if direction.title
									h3= direction.title
								ol
									for step in direction.steps
										li= step

			.col-xs-12
				h2 Other Recipes
				.masonry.masonry-grid-1.masonry-grid-2--sm.masonry-grid-3--md
					for otherRecipe in recipes.filter((i) => i.Id !== recipe.Id)
						.masonry--item(data-toggle='modal', data-target= `#${otherRecipe.url}`)
							+card(otherRecipe.image, otherRecipe.name)

	for otherRecipe in recipes.filter((i) => i.Id !== recipe.Id)
		+modal(otherRecipe.url)(class='modal-lg')
			h2= otherRecipe.name
			img.img-responsive.f-L(src=otherRecipe.image, alt= otherRecipe.name)
			.lead!= otherRecipe.description
			a(href=`/${otherRecipe.url}`) Full Recipie