extends ../layout.pug

block content
	.container
		// Header
		+formStart(recipe, 'Recipes')
			+editButton('p-A mt-NegSm ml-NegLg')

			+view
				h1= recipe.name
					|&nbsp;
					small= recipe.author
			+edit('form-inline')
				+string(recipe, 'name', 'Name')
				+string(recipe, 'author', 'Author')

		.row.mt-Lg
			.col-xs-12.col-sm-5.col-md-3
				// Image
				+formStart(recipe, 'Recipes')
					+editButton('p-A t-Sm r-Md')

					img.w-100.br-Md(src= getImagePath(recipe.image, 'large'), alt= recipe.name)

					+edit('p-A b-Sm r-Sm')
						+image(recipe, 'image')(class='m-0')

				// Ingredients
				+formStart(recipe, 'Recipes', recipe.ingredientSections)(class='content-card')
					h2.content-card--header Ingredients
						+editButton('f-R mt-NegSm mr-NegSm')
					+view
						for section in recipe.ingredientSections ? recipe.ingredientSections : []
							if section.title
								h3= section.title
							if section.ingredients
								ul
									for ingredient in section.ingredients
										li= ingredient
					+edit
						+array(null, 'ingredientSections', null, 'Add Ingredient Section')
							for section in recipe.ingredientSections ? recipe.ingredientSections : [{}]
								+object(null, 'Section', 'Delete Section')
									+string(section, 'title', 'Section Title')
									+array(section, 'ingredients', 'Ingredients', 'Add Ingredient')
				
			.col-xs-12.col-sm-7.col-md-9
				// Description and Note
				+formStart(recipe, 'Recipes')(class='mb-Sm')
					+view
						+editButton('f-R btn-Primary', 'Edit Description and Note')
						if recipe.description && wysiwygHasData(recipe.description)
							.lead.duck-edit-hidden!= recipe.description
						if recipe.note && wysiwygHasData(recipe.note)
							.alert.alert-info.d-Ib.duck-edit-hidden
								h3.mt-0 Note!
								div!= recipe.note
					+edit
						+wysiwyg(recipe, 'description', 'Description')
						+wysiwyg(recipe, 'note', 'Note')

				.row
					.col-xs-12.col-sm-7.col-md-9
						// Directions
						+formStart(recipe, 'Recipes')(class= 'content-card')
							h2.content-card--header Directions
								+editButton('f-R')

							+view
								ul.fc-G__dk.fs-Sm.list-inline
									if recipe.isGlutenFree
										li.pr-0 Gluten Free |
									if recipe.isVegetarian
										li.pr-0 Vegetarian |
									if recipe.isDairyFree
										li.pr-0 Dairy Free |
									li(data-icon='fa fa-clock-o')= ` ${recipe.time}`
									if recipe.serves
										li.pl-0= `| Serves ${recipe.serves}`
								ul.p-0.ls-N
									for direction, i in recipe.directions ? recipe.directions : []
										li
											if direction.title
												h3= direction.title
											ol
												for step in direction.steps ? direction.steps : []
													li= step
							+edit
								.row
									.col-xs-12.col-sm-4.col-md-2: +bool(recipe, 'isGlutenFree', 'Is Gluten Free')
									.col-xs-12.col-sm-4.col-md-2: +bool(recipe, 'isVegetarian', 'Is Vegetarian')
									.col-xs-12.col-sm-4.col-md-2: +bool(recipe, 'isDairyFree', 'Is Dairy Free')
									.col-xs-12.col-sm-6.col-md-3: +string(recipe, 'time', null, 'Time to Make')
									.col-xs-12.col-sm-6.col-md-3: +string(recipe, 'serves', null, 'Serves How Many?')

								+array(null, 'directions', null, 'Add Direction Section')
									ul.p-0.ls-N
										for direction, i in recipe.directions ? recipe.directions : [{}]
											+object(null, null, 'Delete Direction Section')
												+string(direction, 'title', 'Direction Section Title')
												+array(direction, 'steps', 'Steps', 'Add Step')
							
					.col-xs-12.col-sm-5.col-md-3
						// Meal and Dish Information
						+formStart(recipe, 'Recipes')(class='content-card')
							-
								const difficulties = {
									Easy: 'alert-success',
									Medium: 'alert-info',
									Hard: 'alert-warning',
									Advanced: 'alert-danger'};

								const mealTypes = [
									'Appetizers, Snacks, & Dips',
									'Breakfast & Brunch',
									'Dinners',
									'Desserts',
									'Drinks'];

								const dishTypes = [
									'Soups, Stews & Chilis',
									'Salads',
									'Pastry',
									'Breads',
									'Vegetables',
									'Fruits',
									'Sauce',
									'Pasta',
									'Poultry',
									'Pork',
									'Beef',
									'Fish',
									'Seafood',
									'Other Desserts',
									'Cookies',
									'Cakes',
									'Bars',
									'Pies',
									'Brownies',
									'Candy',
									'Drinks',
									'Other'];

								const ethnicities = [
									'Other',
									'Italian',
									'American',
									'Mexican',
									'German',
									'Irish',
									'Asian',
									'Chinese',
									'Japanese',
									'Korean'];

								const cookingStyles = [
									'Quick & Easy',
									'BBQ & Grilling',
									'Slow Cooker',
									'Casserole',
									'One Pan',
									'Stir Fry'];

								const difficulty = [
									'Unknown',
									'Easy',
									'Medium',
									'Hard',
									'Advanced'];
							+editButton('f-R')
							+view
								h3 Meal Type
								ul
									for type in recipe.mealType ? recipe.mealType : [null]
										li= type === null ? 'Unknown' : type

								h3 Dish Type
								ul
									for type in recipe.dishType ? recipe.dishType : [null]
										li= type === null ? 'Unknown' : type
								
								h3 Ethnicity
								ul
									for ethnicity in recipe.ethnicity ? recipe.ethnicity : [null]
										li= ethnicity === null ? 'Unknown' : ethnicity

								h3 Cooking Style
								ul
									for style in recipe.cookingStyle ? recipe.cookingStyle : [null]
										li= style === null ? 'Unknown' : style

								h3 Difficulty
								.alert(class= difficulties[recipe.difficulty])= recipe.difficulty
							+edit()(data-function='accordion')
								h3(role='tab' aria-expanded='true' data-event='tab-changed', data-target='this i', data-function='toggle')
									i.fa.fa-chevron-down(aria-hidden='true', data-toggle='rotate-Neg180', class='rotate-Neg180')
									| Meal Type
								+checkbox(recipe, 'mealType', null, mealTypes)(role='tabpanel', aria-hidden='false', class='mb-0')

								h3(role='tab' aria-expanded='false' data-event='tab-changed', data-target='this i', data-function='toggle')
									i.fa.fa-chevron-down(aria-hidden='true', data-toggle='rotate-Neg180')
									|Dish Type
								+checkbox(recipe, 'dishType', null, dishTypes)(role='tabpanel', aria-hidden='true', class='mb-0')
								
								h3(role='tab' aria-expanded='false' data-event='tab-changed', data-target='this i', data-function='toggle')
									i.fa.fa-chevron-down(aria-hidden='true', data-toggle='rotate-Neg180')
									| Ethnicity
								+checkbox(recipe, 'ethnicity', null, ethnicities)(role='tabpanel', aria-hidden='true', class='mb-0')

								h3(role='tab' aria-expanded='false' data-event='tab-changed', data-target='this i', data-function='toggle')
									i.fa.fa-chevron-down(aria-hidden='true', data-toggle='rotate-Neg180')
									| Cooking Style
								+checkbox(recipe, 'cookingStyle', null, cookingStyles)(role='tabpanel', aria-hidden='true', class='mb-0')

								h3(role='tab' aria-expanded='false' data-event='tab-changed', data-target='this i', data-function='toggle')
									i.fa.fa-chevron-down(aria-hidden='true', data-toggle='rotate-Neg180')
									| Difficulty
								+select(recipe, 'difficulty', null, ['Unknown','Easy','Medium','Hard','Advanced'])(role='tabpanel', aria-hidden='true', class='mb-0')

			// Suggested Recipes
			+formStart(recipe, 'Recipes', suggestedRecipes)
				h2 Suggested Recipes
					+editButton('ml-Sm')
					+view
						.masonry.masonry-grid-1.masonry-grid-2--sm.masonry-grid-3--md
							for suggested in suggestedRecipes
								a.masonry--item(href= suggested.url)
									+card(suggested.image, suggested.name)
					+edit
						.row(duck-field='suggestedRecipes', duck-type='checkbox')
							for otherRecipe in recipes.filter((i) => i.Id !== recipe.Id)
								.col-xs-12.col-sm-6.col-md-4.col-lg-3
									.checkbox
										label
											input(type='checkbox', value= otherRecipe.Id, checked= recipe.suggestedRecipes && recipe.suggestedRecipes.indexOf(otherRecipe.Id) !== -1)
											= otherRecipe.name
